@font-face {
    font-family: 'BeVietnam';
    font-style: normal;
    font-weight: 800;
    src: url('BeVietnamPro-Black.ttf');
}
@font-face {
    font-family: 'BeVietnam';
    font-style: italic;
    font-weight: 800;
    src: url('BeVietnamPro-BlackItalic.ttf');
}
@font-face {
    font-family: 'BeVietnam';
    font-style: normal;
    font-weight: 600;
    src: url('BeVietnamPro-Bold.ttf');
}
@font-face {
    font-family: 'BeVietnam';
    font-style: italic;
    font-weight: 600;
    src: url('BeVietnamPro-BoldItalic.ttf');
}
@font-face {
    font-family: 'BeVietnam';
    font-style: normal;
    font-weight: 650;
    src: url('BeVietnamPro-ExtraBold.ttf');
}
@font-face {
    font-family: 'BeVietnam';
    font-style: italic;
    font-weight: 650;
    src: url('BeVietnamPro-ExtraBoldItalic.ttf');
}
@font-face {
    font-family: 'BeVietnam';
    font-style: normal;
    font-weight: 150;
    src: url('BeVietnamPro-ExtraLight.ttf');
}
@font-face {
    font-family: 'BeVietnam';
    font-style: italic;
    font-weight: 150;
    src: url('BeVietnamPro-ExtraLightItalic.ttf');
}
@font-face {
    font-family: 'BeVietnam';
    font-style: normal;
    font-weight: 400;
    src: url('BeVietnamPro-Regular.ttf');
}
@font-face {
    font-family: 'BeVietnam';
    font-style: italic;
    font-weight: 400;
    src: url('BeVietnamPro-Italic.ttf');
}
@font-face {
    font-family: 'BeVietnam';
    font-style: normal;
    font-weight: 300;
    src: url('BeVietnamPro-Light.ttf');
}
@font-face {
    font-family: 'BeVietnam';
    font-style: italic;
    font-weight: 300;
    src: url('BeVietnamPro-LightItalic.ttf');
}
@font-face {
    font-family: 'BeVietnam';
    font-style: normal;
    font-weight: 500;
    src: url('BeVietnamPro-Medium.ttf');
}
@font-face {
    font-family: 'BeVietnam';
    font-style: italic;
    font-weight: 500;
    src: url('BeVietnamPro-MediumItalic.ttf');
}
@font-face {
    font-family: 'BeVietnam';
    font-style: normal;
    font-weight: 600;
    src: url('BeVietnamPro-SemiBold.ttf');
}
@font-face {
    font-family: 'BeVietnam';
    font-style: italic;
    font-weight: 600;
    src: url('BeVietnamPro-SemiBoldItalic.ttf');
}
@font-face {
    font-family: 'BeVietnam';
    font-style: normal;
    font-weight: 200;
    src: url('BeVietnamPro-Thin.ttf');
}
@font-face {
    font-family: 'BeVietnam';
    font-style: italic;
    font-weight: 200;
    src: url('BeVietnamPro-ThinItalic.ttf');
}